<div>
<h1 align="center">About our company</h1>

<p align="center"> Here at Crazy Rich Asians *minus* Rich and Asian, we aim to provide you the best
</br>
in money reimbursement services and stuff like that. Idk what to put here so, hopefully no one actually reads this.    

</p>
</div>
