<div class="col-xl-9 col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Your Forms</h3>
         </div>

        <%= content_tag :div,
                    id: 'dashboard', 
                    class: 'card-header py-3 d-flex flex-row align-items-center justify-content-between' do %>

                <%= javascript_pack_tag 'dashboard' %>
        <% end %>
    </div>
</div>

<div class="col-xl-9 col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Dept. Approval Rates</h3>
         </div>

        <%= content_tag :div,
                    id: 'dashboard', 
                    class: 'card-header py-3 d-flex flex-row align-items-center justify-content-between' do %>

                <%= javascript_pack_tag 'dashboard' %>
        <% end %>
    </div>
</div>

