<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="dropdown-list-image mr-3">
    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
    <div class="status-indicator bg-success"></div>
    </div>
    <div>
    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
    <div class="small text-gray-500">Chicken the Dog · 2w</div>
    </div>
</a>