<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="dropdown-list-image mr-3">
    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
    <div class="status-indicator"></div>
    </div>
    <div>
    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
    <div class="small text-gray-500">Jae Chun · 1d</div>
    </div>
</a>