<div class="row">

    <%= render "inc/sb-admin/cards/card1"%>
    <%= render "inc/sb-admin/cards/card2"%>
    <%= render "inc/sb-admin/cards/card3"%>
    <%= render "inc/sb-admin/cards/card4"%>

</div>